<link type="text/css" rel="stylesheet" href="layout.css"/>

<div class="Card">
    <div class="TopArea">
        <div class="Image">
            <img src="S\1.jpg"/>
        </div>
        <div class="LandIcon"></div>
    </div>
    <div class="Label">
        <div class="CardTitle">
            <div class="Title">Jałowiec</div>
            <div class="TypeDescription">Roślina</div>
        </div>
        <div class="Icon"></div>
    </div>
    <div class="Description">a,as udhasuiyh duiyas ui yd asuioyd gasuyo diausyhd uiyasd dfuiyasd gfdu ysdguyfg sduiy fgasduiyf gasduiy gfasdiuoy gfuy</div>
</div>