body {
    font-family: "Tahoma";
    font-size: 10pt;
}

div.Card {
    border: solid black 1px;
    width: 65mm;
    height: 92mm;
    display: block;
    margin: 0;
    padding: 0;
}

div.Image {
    display: block;
    padding: 0;
    margin: 0;
    width: 65mm;
    height: 46mm;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover; /* optional for Firefox 3.6 */
    -o-background-size: cover; /* for Opera 9.5 */
}

div.TopArea {
    display: block;
    padding: 0;
    margin: 0;
    height: 46mm;
}


div.Label {
    margin: 0;
    padding: 0;
    display: block;
    border: solid black 1px;
    background-color: darkgray;
    height: 15mm;
}

div.CardTitle {
    margin: 0;
    padding: 0;
    display: block;
    width: 50mm;
    height: 15mm;
}

div.Title {
    font-weight: bold;
    margin: 0;
    padding: 0.5mm 1mm 0.5mm 1mm;
    display: block;
    font-size: 110%;
}

div.TypeDescription {
    margin: 0;
    padding: 0 0 0 1mm;
    display: block;
    font-size: 80%;
    font-style: italic;
}

div.Icon {
    padding: 0;
    width: 15mm;
    height: 15mm;
    margin-left: 49.5mm;
    margin-top: -15mm;
    display: block;
    /*border: solid black 1px;*/
}

div.LandIcon-1 {
    padding: 0;
    width: 15mm;
    height: 15mm;
    margin-left: 0;
    margin-top: -46mm;
    display: block;
    border: solid black 1px;
}

div.LandIcon-2 {
    padding: 0;
    width: 15mm;
    height: 15mm;
    margin-left: 49.5mm;
    margin-top: -46mm;
    display: block;
    border: solid black 1px;
}

div.LandIcon-3 {
    padding: 0;
    width: 15mm;
    height: 15mm;
    margin-left: 49.5mm;
    margin-top: -15.5mm;
    display: block;
    border: solid black 1px;
}

div.LandIcon-4 {
    padding: 0;
    width: 15mm;
    height: 15mm;
    margin-left: 0;
    margin-top: -15.5mm;
    display: block;
    border: solid black 1px;
}



div.Description {
    height: 31mm;
    display: block;
    padding: 2mm;
    font-size: 85%;
    margin: 0;
    font-family: Verdana;
}

table.CardsTable {
    margin: 0;
    padding: 0;
    border: none;
}

    table.CardsTable td {
        margin: 0;
        padding: 0;
        border: 0;
    }

    table.CardsTable tr {
        margin: 0;
        padding: 0;
        border: 0;
    }

img.IconImage {
    width: 15mm;
    height: 15mm;
    padding: 0;
    margin: 0;
}
