<div class="Card">
    <div class="TopArea">
        <div class="Image">
            <img src="Images\S\{#IMAGE_NAME#}" />
        </div>
        <div class="LandIcon"><img class="IconImage" src="Images\Icons\{#ZONE_IMAGE_NAME#}" /></div>
    </div>
    <div class="Label">
        <div class="CardTitle">
            <div class="Title">{#TITLE#}</div>
            <div class="TypeDescription">Strefa klimatyczna</div>
        </div>
        <div class="Icon"><img class="IconImage" src="Images\Icons\{#CARD_TYPE_IMAGE_NAME#}" /><</div>
    </div>
    <div class="Description">{#DESCRIPTION#}</div>
</div>