<div class="Card">
    <div class="TopArea">
        <div class="Image" style="background-image: url('./Images/R/{#IMAGE_NAME#}');">&nbsp;</div>
        <div class="LandIcon"><img class="IconImage" src="Images\Icons\{#CARD_TYPE_IMAGE_NAME#}" /></div>
    </div>
    <div class="Label">
        <div class="CardTitle">
            <div class="Title">{#TITLE#}</div>
            <div class="TypeDescription">Roślina</div>
        </div>
        <div class="Icon"><img class="IconImage" src="Images\Icons\{#ZONE_IMAGE_NAME#}" /></div>
    </div>
    <div class="Description" style="font-size: {#DESC_FONT_SIZE#}">{#DESCRIPTION#}</div>
</div>